version: 2.1

workflows:
  main:
    jobs:
      - build
jobs:
  build:
    parallelism: 16
    machine:
      image: ubuntu-2004:202107-02
    steps:
      - checkout
      - run: 
         name: "Testing"  
         command: sleep 30m
         no_output_timeout: 40m
      - run: |
         name: "Deploy"
         chmod +x run.sh
   
